table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    position: absolute;
    top: 50%;
    left: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.submit {
  top: 12%;
  left: 1%;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.styled-table1 {
	margin-left: auto;
    margin-right: auto;
  	top: 40%;
  	left: 1%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table1 th,
.styled-table1 td {
    padding: 12px 15px;
}

.styled-table1 thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table1 tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table {
	margin-left: auto;
    margin-right: auto;
  	top: 9%;
  	left: 1%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.styled-table2 {
	margin-left: auto;
    margin-right: auto;
  	top: 15%;
  	left: 35%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table2 th,
.styled-table2 td {
    padding: 12px 15px;
}

.styled-table2 thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table2 tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table3 {
	margin-left: auto;
    margin-right: auto;
  	top: 50%;
  	left: 10%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table3 th,
.styled-table3 td {
    padding: 12px 15px;
}

.styled-table3 thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table3 tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.styled-table4 {
	margin-left: auto;
    margin-right: auto;
  	top: 20%;
  	left: 10%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table4 th,
.styled-table4 td {
    padding: 12px 15px;
}

.styled-table4 thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table4 tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}